<%= render 'template/user', user: @user %>
<%= render 'template/book', book: @book %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td></td><!--リンクでuserのshowページ-->
      <td><%= book.title %></td>
      <td><%= book.opinion %></td>
    </tr>
    <% end %>
  </tbody>
</table>